<header class="centered-navigation">
  <div class="centered-navigation-wrapper">
    <a href="javascript:void(0)" class="mobile-logo">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3_dark.png" alt="Logo image">
    </a>
    <a href="" class="centered-navigation-menu-button">MENU</a>
    <ul class="centered-navigation-menu">
      <li class="nav-link"><a href="/prework.html">Prework</a></li>
      <li class="nav-link"><a href="/syllabus.html">Syllabus</a></li>
      <li class="nav-link logo">
        <a href="/" class="logo">
          <img src="https://avatars1.githubusercontent.com/u/8672969?v=2&s=200" alt="Logo image">
        </a>
      </li>
      <li class="nav-link"><a href="/timeline.html">Timeline</a></li>

      <li class="nav-link more"><a href="/setup/index.html">Setup</a>
        <ul class="submenu">
          <li><a href="/setup/atom.html">Atom</a></li>
          <li><a href="/setup/homebrew.html">Homebrew</a></li>
          <li><a href="/setup/xcode.html">XCode</a></li>
          <li><a href="/resources.html">Resources</a></li>


        </ul>
      </li>
    </ul>
  </div>
</header>
