---
title: TIY Houston Q3 Rails
---


<div class="intro-text">
  <h2>TIY Houston Ruby on Rails class</h2>
  <h4>Houston, Fall 2014 - Q4</h4>
  <p>Gear Up. Be Creative. Allways be learning</p>
</div>

<ul class="bullets">
  <li class="bullet three-col-bullet">
    <div class="bullet-icon bullet-icon-1">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png
" alt="">
    </div>
    <div class="bullet-content">
      <h2>Location</h2>
      <p>
        The Iron Yard<br/>
        1121 Delano St.<br/>
        Houston, TX 77003<br/>
        At START Houston<br>
      </p>
      </div>
  </li>
  <li class="bullet three-col-bullet">
    <div class="bullet-icon bullet-icon-2">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3.png" alt="">
    </div>
    <div class="bullet-content">
      <h2>Syllabus</h2>
      <p>Includes Late policy, attendence, homework, and your behavior during class. <a href="/syllabus.html">Read On</a>.</p>
    </div>
  </li>
  <li class="bullet three-col-bullet">
    <div class="bullet-icon bullet-icon-3">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_4.png" alt="">
    </div>
    <div class="bullet-content">
      <h2>Emoji Help</h2>
      <ul>
        <li><a href="http://www.emoji-cheat-sheet.com/">GitHub Emoji Cheat Sheet</a></li>
        <li><a href="http://unicodeemoticons.com/">Unicode Emoticons</a></li>
        <li><a href="http://www.wikihow.com/Use-Emoji-Icons-in-Mac-Os-X-Lion">How to Use Emoji Icons in Mac Os X Lion</a></li>
      </ul>
    </div>
  </li>
</ul>
