---
title: TIY Houston Q3 Rails
---

<div class="row">
  <div class="large-12 columns">
    <h1>TIY Houston Ruby on Rails class <small>Summer 2014</small></h1>
  </div>
</div>

<div class="row">
  <div class="large-8 columns">
    <p>
      Welcome to the Houston Ruby on Rails class for Summer 2014! This site will contain references and resources for you to use while taking the class.
    </p>
    <ul>
      <li><a href="syllabus.html">Syllabus</a></li>
      <li><a href="prework.html">Recommended work before class</a></li>
      <li><a href="setup/index.html">Setup</a></li>
      <li><a href="resources.html">Resources</a></li>
      <li><a href="/notes/">Notes</a></li>
      <li>
        <a href="https://github.com/tiy-houston-q4-rails">
          Class GitHub
        </a>
      </li>
    </ul>
    <h5>Emoji Help</h5>
    <ul>
      <li><a href="http://www.emoji-cheat-sheet.com/">GitHub Emoji Cheat Sheet</a></li>
      <li><a href="http://unicodeemoticons.com/">Unicode Emoticons</a></li>
      <li><a href="http://www.wikihow.com/Use-Emoji-Icons-in-Mac-Os-X-Lion">How to Use Emoji Icons in Mac Os X Lion</a></li>
  </div>
  <div class="large-4 columns">
    <div class="panel callout radius">
      <h4>Updates</h4>
      <ul>
      </ul>
    </div>
  </div>
</div>
